@charset "UTF-8";
      
header h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: underline;
    text-align: center;

}

body {
    background-color: rgb(87, 87, 87);
    display: block;
    margin: auto;
    width: 100%;


}

body main {
    display: block;
    margin: auto;
    background-color: white;
    /* background-image: url(imagens-modelo/imagem-arcoiris-grande.jpg); */
    border-radius: 30px;
    box-shadow: 0px 0px 56px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 56px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.75);


}

main {
    max-width: 1200px;
    min-width: 550px;


}

main #div-anoNasc {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;


}

#div-mesNasc {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    max-width: 1220px;

}

input[type='number'] {
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 6px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    color: black;
    transition: all 1.0s cubic-bezier(0.05, 0.68, 0.25, 0.95);
}

input[type='number']::-webkit-inner-spin-button {
    appearance: none;
}

input[type='number']:focus {
    background-color: #000000;
    transition: all 0.8s cubic-bezier(0.05, 0.68, 0.25, 0.95);
    color: white;


}

#div-radios {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;

}

input[type='radio'] {
    margin-top: 10px;
    width: 25px;
    height: 30px;
    vertical-align: bottom;

}

label {
    margin-right: 10px;

}

input[type="button"] {
    display: block;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-style: none;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(0, 207, 0);
    transition: all 0.3s cubic-bezier(0.05, 0.68, 0.25, 0.95);

}

input[type="button"]:hover {
    padding: 20px;
    border-radius: 25px;
    font-size: 18px;
    transition: all 0.3s cubic-bezier(0.05, 0.68, 0.25, 0.95);

}

#div-resultado {
    display: block;
    margin: auto;
    text-align: center;

}

#p-resultado {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;


}

#img-resultado {

    padding-bottom: 15px;
    padding-top: 5px;

}


footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#link-destaque {
    text-decoration: none;
    color: white;
    transition: all 0.5s cubic-bezier(0.05, 0.68, 0.25, 0.95);
}

#link-destaque:hover {
    font-size: 40px;
    padding: 5px;
    transition: all 0.5s cubic-bezier(0.05, 0.68, 0.25, 0.95);
    text-decoration: none;
    color: wheat;

}

#p-botaoresetar {
    padding: 20px;
    margin-top: -15px;

}